### Questions
* Do you need to complete everything in the curriculum?
    * environment setup not working on learn
* Only clone labs or anything where you're coding on your machine

### Objectives
YWBAT
- manipulate a string for a desired result
- use method chaining to manipulate a string
    - method chaining - a function of an object's class
    - ex: `my_string.replace('old', 'new')`
- use the zip function to iterate over 2 lists
- use list comprehension to create a list
    - list comprehension - building a list inline (within a single line of code)
- loop through a dictionary and get specific items

# Shortcut keys
- `tab` autocomples, but also shows you options
- `shift+tab` x1, x2, x4 shows you documentation


# Key Terms
- `==` 'is equal to?', checking a condition
- True is the same thing as 1
- False is the same thing as 0

### Outline

### Inline examples

In [1]:
student = "John, December, Full Time, 2019"

In [4]:
for ch in student:
    print(ch)
    if ch == "c":
        break

J
o
h
n
,

D
e
c

# How else can I manipulate this string?

In [10]:
# separate it by words
student_word_list = student.split(",")
student_word_list

new_student_word_list = []

for word in student_word_list:
    word = word.strip()
    new_student_word_list.append(word)
new_student_word_list

['John', 'December', 'Full Time', '2019']

In [13]:
# replace aspects of the string
student = student.replace("December", "January")
student

'John, January, Full Time, 2019'

In [14]:
student

'John, January, Full Time, 2019'

# Method chaining

In [17]:
# method chaining example
student.replace(",", "-").replace(" ", "").lower().capitalize()

'John-january-fulltime-2019'

In [18]:
student.swapcase()

'jOHN, jANUARY, fULL tIME, 2019'

In [19]:
# endswith returns a Boolean

student.endswith("2020")

False

In [22]:
student

'John, January, Full Time, 2019'

In [25]:
# Boolean exercises
# student.endswith("2020") == True ->
# False == True
# False

bool1 = student.endswith("2020") == True
print(bool1)

# True == False
bool2 = student.endswith("2019") == student.startswith("j")
print(bool2)

# True == True
bool3 = student[-1].isdigit() == student.startswith("J")
print(bool3)

False
False
True

In [26]:
True == 1

True

In [23]:
student.startswith("j")

False

In [29]:
True + True + False + True * (True + True) # 1 + 1 + 0 + 1(2)

4

In [35]:
p = True

if p:
    x = 4
else:
    x = 10
x

4

In [37]:
x = 4 if p else 10 # inline conditional
x

4

In [38]:
sleep = 4
tired = True if sleep < 8 else False
tired

True

In [40]:
y = 10
# send me a line of code that sets x to 2 if y is > 0 otherwise set x to 10
x = 2 if y > 0 else 10
x

2

In [1]:
import pandas as pd
import numpy as np

from collections import defaultdict

import matplotlib.pyplot as plt

### List comprehension

In [47]:
# declare an empty list that I will populate
triples = []

# populating my list
for i in range(10):
    triples.append(3*i)

triples

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [52]:
# square of every element in triples
y = []

for element in triples: # 0, 3, 6, ...
    y.append(element**2) # y.append(0), y.append(9), y.append(36), ...
y

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729]

In [54]:
# list comprehension
y = [element**2 for element in triples]
y

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729]

In [57]:
# loop through both of my lists, triples and y
# for i in range(10)

for i in range(len(triples)):# i = 0, 1
    print(triples[i]) # triples[0], triples[1]
    print(y[i]) # y[0], y[1]
    print('\n')

0
0


3
9


6
36


9
81


12
144


15
225


18
324


21
441


24
576


27
729

In [60]:
x = [1, 2, 3, 4, 3, 2, 1, 5, 5]

In [65]:
# using the zip function
# let's make a dictionary 
# d[triples] = y {0: 0, 3: 9, 6: 36, ... }

triples_squared_dict = {}

for e1, e2 in zip(triples, y):
    triples_squared_dict[e1] = e2
    
triples_squared_dict

{0: 0,
 3: 9,
 6: 36,
 9: 81,
 12: 144,
 15: 225,
 18: 324,
 21: 441,
 24: 576,
 27: 729}

In [66]:
triples_squared_dict = dict(zip(triples, y))
triples_squared_dict

{0: 0,
 3: 9,
 6: 36,
 9: 81,
 12: 144,
 15: 225,
 18: 324,
 21: 441,
 24: 576,
 27: 729}

In [67]:
# Show you some more awesomeness with zip and dict
new_dictionary = dict(zip(triples, [t/2 for t in triples]))
new_dictionary

{0: 0.0,
 3: 1.5,
 6: 3.0,
 9: 4.5,
 12: 6.0,
 15: 7.5,
 18: 9.0,
 21: 10.5,
 24: 12.0,
 27: 13.5}

In [68]:
print(new_dictionary[0]) # 0.0
print(new_dictionary[24]) # 12.0
print(new_dictionary[25]) # error

0.0
12.0

KeyError: 25

In [70]:
new_dictionary.get(0, "does not exist, dude")

0.0

In [72]:
new_dictionary.get(25, 1234)

1234

### Assessment
* inline, looping through more than one list and zip
* New methods for dictionary (zip, get)
* learned to use tab to know how to I can manipulate strings
* Learned about retrieving information from dictionaries and about the zip function
* I learned about the wonderment of zip()
* Love the zip shortI thought in the last example that [0], [24] and [25] were calling the index #, so I learned is actually calling the value for that key. cuts and the other inline shortcuts
* Learned - created a dictionary by zipping two lists, while using a for loop for one of the lists.
* I really liked the zip function
* learned that in _ line conditionals can ve used in zip functions
* how to use the dictionary methods zip and get
* Learned how to create dictionaries from data using particular python functions
* Reinforced the comparative operator and the zip func
* simple  if/else  statement can be coded in one line using inline condition